body{
    font-family: 'Lobster Two', cursive;
    background: yellow;
}

.header{
background: red;
color:black;
}

.header_div{
    font-family: 'Lobster Two', cursive; 
    color:black;
    letter-spacing: 2px;
    font-size: 12px ;
    font-weight: bold;
}

.main_div button{
    font-family: 'Lobster Two', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
position: fixed;
color: aquamarine;
bottom: 0;
width: 100%;
font-size: 18px;
background-color: beige;
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px blue;
}